/vendor
/.idea
Homestead.json
Homestead.yaml
.env
sql
node_modules
.editorconfig
.styleci.yml
tests/report
report/
clover.xml
local-adminer-*
public/docs
GITHUB_TOKEN=
resources/docs/*
.phpunit.result.cache
.DS_Store
*/.DS_Store
*.swp
.lvimrc
/.do/*

